body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: powderblue;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem 0;
}

section .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2 {
    margin-top: 0;
}
.interests {
    background-color: greenyellow;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.skill {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education {
    background-color: burlywood;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

footer p {
    margin: 0;
}